<div class="container-fluid">

    <div class="row">
        <div class="col-md-6" style="margin-top: 4%;" width="100%">
            <div align="center" style="vertical-align: middle;">
                <img  width="60%" class="img-responsive" src="/logo_final.png" class="img-fluid" alt="logo" />
                <h1>Consulta estadisticas sobre la universidad</h1>
            </div>
        </div>
    <div class="col-md-6">
        <div style="background-color: lightblue; padding: 8% 0px 8% 5%;>">
            <h2 style="font-size:60px">Notas promedio</h2> 
            <p style="font-size:15px">Compara tus notas con las notas promedio de nuestros usuarios, <br><i> En Ataraxia nos gusta alimentar tu ego...</i></p>
            <div align="center"><%= link_to '¡Comparar!',  student_malla_estadisticas_path , class: "btn btn-success btn-lg " %> </div>
        </div>
    </div>
    <div class="col-md-6">
        <div style="background-color: PaleGoldenRod ;  margin-top: 5px; padding: 8% 0px 8% 5%;">
            <h2 style="font-size:60px">Materias dificiles </h2> 
            <p style="font-size:15px">Averigua con qué materias debes tener cuidado <br > a lo largo de tu carrera </p>
                <div align="center"><%= link_to '¡Consultar!',  student_malla_dificiles_path , class: "btn btn-success btn-lg" %> </div>
        </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer', :vista=> "normal"%>

