<div class="container-fluid">

    <div class="row">
        <div class="col-md-6" style="margin-top: 8%;" width="100%">
            <div align="center">
                <img  width="60%" class="img-responsive" src="/logo_final.png" class="img-fluid" alt="logo" />
                <h1>¡Parece que es tu primera vez en Ataraxia!</h1>
            </div>
        </div>
    <div class="col-md-6">
        <div align="center" style="margin-top: 3%;  padding: 8% 0px 8% 0%;">
            <h1 style="font-size:300%"><b>¡Necesitamos saber más sobre ti!</b></h1>
            <p style="font-size:200%">Abre tu historia academica y presiona <br> CTRL+A y CTRL+C. <br>  Luego debes pegar todo<br> en el siguiente cuadro:</p>
        </div>
    </div>
    <div class="col-md-6">
        <div style="margin-top: -13%; padding: 8% 5% 8% 5%;">
             <div class="form-group">
                    <textarea class="form-control" id="exampleTextarea" rows="13"></textarea>
              </div>
        </div>
        <div style="margin-top: -8%" align="center"><button type="button" class="btn btn-success btn-lg">Continuar</button></div>
    </div>
  </div>
</div>