<div class="container-fluid">

    <div class="row">
        <div class="col-md-6" style="margin-top: 4%;" width="100%">
            <div align="center" style="vertical-align: middle;">
                <img  width="60%" class="img-responsive" src="/logo_final.png" class="img-fluid" alt="logo" />
                <h1>¡Bienvenido a Ataraxia!</h1>
                <h3>Por favor escoje una opción</h3>
                <h4>No olvides registrarte para ver más opciones</h4>
            </div>
        </div>
    <div class="col-md-6">
        <div style="background-color: lightblue;  padding: 8% 0px 8% 5%;>">
            <h2 style="font-size:60px">Ver una malla</h2> 
            <p style="font-size:15px">Consulta los planes curriculares de las carreras que estás interesado. </p>
             <div align="center">
                <div class="dropdown" style="display: inline-block">
                    <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Carreras<span class="caret"></span></button>
                    <ul class="dropdown-menu" style="height:300px; overflow: auto;" align="left">
                     <% Career.all.each do |career| %>
                        <li 
                            <% if career.faculty=="Ciencias Económicas" %> 
                                style="background-color: #f9e6ff;" 
                            <%elsif career.faculty=="Ciencias"%>
                                style="background-color: #d6f5d6;" 
                            <%elsif career.faculty=="Ingeniería"%>
                                style="background-color: #ccebff;"
                            <%elsif career.faculty=="Medicina"%>
                                style="background-color: #ccccff;"
                            <%elsif career.faculty=="Artes"%>
                                style="background-color: #ffffb3;"    
                            <%elsif career.faculty=="Ciencias Agrarias"%>
                                style="background-color: #ffd6cc;"
                            <%elsif career.faculty=="Ciencias Humanas"%>
                                style="background-color: #d9b3ff;"
                            <%elsif career.faculty=="Derecho, ciencias políticas y sociales"%>
                                style="background-color: #eeffcc;"
                            <%elsif career.faculty=="Enfermería"%>
                                style="background-color: #ffccff;"
                            <%elsif career.faculty=="Medicina Veterinaria y de Zootecnia"%>
                                style="background-color: #b3ffff;"
                            <%elsif career.faculty=="Odontología"%>
                                style="background-color: #ffb3ff;"
                            <%end%>
                        >
                            <%= link_to career.name, guess_malla_path(career.id) %></li>
                    <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div style="background-color: PaleGoldenRod ;  margin-top: 5px; padding: 8% 0px 8% 5%;">
            <h2 style="font-size:60px">Graficos </h2> 
            <p style="font-size:15px">Consulta estadisticas sobre carreras, materias y notas de los <br >estudiantes de la Universidad Nacional de Colombia.</p>
                <div align="center"><%= link_to '¡Consultar!',  subjects_path , class: "btn btn-success btn-lg disabled" %> </div>
        </div>
    </div>
  </div>
</div>

  <div id="myModal4" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 800px;">
    <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header modal-ayuda">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 align="center"><b>Ventana de ayuda</b></h2>
        </div>
        <div class="modal-body" >
          <table align="center" class="table table-striped" style="font-size: 8px;">
              <thead>
                 <tr>
                    <th style="text-align: center"> Facultades y colores</th> 
                 </tr>
              </thead>
              <tbody>
                  <tr>
                    <td style="background-color: #ffffb3; text-align: center">Artes</td>  
                  </tr>
                  <tr>
                    <td style="background-color: #d6f5d6; text-align: center">Ciencias </td>  
                  </tr>
                  <tr>
                    <td style="background-color: #ffd6cc; text-align: center">Ciencias Agrarias</td>  
                  </tr>
                  <tr>
                    <td style="background-color: #f9e6ff; text-align: center">Ciencias Económicas</td>  
                  </tr>
                  <tr>
                    <td style="background-color: #d9b3ff; text-align: center">Ciencias Humanas</td>  
                  </tr>
                  <tr>
                    <td style="background-color: #eeffcc; text-align: center">Derecho, ciencias políticas y sociales</td>  
                  </tr>
                  <tr>
                    <td style="background-color: #ffccff; text-align: center">Enfermería</td>  
                  </tr>
                  <tr>
                    <td style="background-color: #ccebff; text-align: center">Ingeniería</td>  
                  </tr>
                  <tr>
                    <td style="background-color: #ccccff; text-align: center">Medicina</td>  
                  </tr>
                  <tr>
                    <td style="background-color: #b3ffff; text-align: center">Medicina Veterinaria y de Zootecnia</td>  
                  </tr>
                  <tr>
                    <td style="background-color: #ffb3ff; text-align: center">Odontología</td>  
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
<%= render 'layouts/footer', :vista=> "guess_index"%>