<%= render 'layouts/mallas', :vista =>"guess_malla", :user => "guess", :malla => @malla, :pdf => false, add_subjects_enabled: false%>
<%= render 'layouts/footer', :vista =>"guess_malla"%>
<!-- The Modal Ayuda -->

  <div id="myModal4" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content -->
      <div class="modal-content" style="width: 100%;">
        <div class="modal-header modal-ayuda">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 align="center">Ventana de ayuda</h2>
        </div>
        <div class="modal-body" >
          <div align="center"><img width="80%" class="img-responsive" src="/ayuda_invitado2.png" class="img-fluid" alt="help" /></div>
        </div>
      </div>
    </div>
  </div>