<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>¡Ha llegado una opinión a Ataraxia!</h1>
    <p>
      <%= @nombre %>, con correo <%= @correo %>, nos escribe porque
      está preocupado por el siguiente asunto <b><%= @asunto %></b>. <br>
      Su opinión sobre ello es la siguiente: <br>
      <%= @mensaje %>
    </p>
    <p>Gracias por leer.</p>
  </body>
</html>