<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>¡Bienvenido a Ataraxia! </h1>
    <p>
      Te has registrado satisfactoriamente en nuestro sitio
con el siguiente correo: <%= @user.email %>.<br>
    </p>
    <p>
      Para visitarnos puedes acceder a través del siguiente enlace: <%= @url %>.
    </p>
    <p>¡Qué tengas buen día!</p>
  </body>
</html>