<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>¡Bienvenido a Ataraxia! </h1>
    <p>Siguenos en Facebook para enterarte de las novedades en la página<a>https://www.facebook.com/AtaraxiaUN/</a></p>
    <p>
      Te has registrado satisfactoriamente en nuestro sitio
con el siguiente correo: <%= @user.email %>.<br>
    </p>
    <p>
      Para visitarnos puedes acceder a través del siguiente enlace: <%= @url %>.
    </p>
    <p>Te queremos recordar que la página aún está en Beta, por ende es probable <br> 
    que encuentres uno que otro error. <br>
    Te pedimos que nos informes de ese error, por nuestra página de Facebook o <br>
    en la sección de contactanos de la página, para poder arreglarlo <br>
    lo más pronto posible. <br>
    </p>
    <p> También ten encuenta que la página aún no está terminada, nos faltan dos <br>
    componentes importantes <b>optativas y correquisitos</b>, pero los añadiremos en cuanto podamos<br>
    </p>
    <p>¡Qué tengas buen día!</p>
  </body>
</html>