/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
}

/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
h3, h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;
  font-size: 20px;
  color: #111;
}

/* line 11, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.container {
  padding: 80px 120px;
}

/* line 14, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}

/* line 21, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.person:hover {
  border-color: #f1f1f1;
}

/* line 24, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  /* make all photos black and white */
  width: 100%;
  /* Set width to 100% */
  margin: auto;
}

/* line 30, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 600px) {
  /* line 34, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
  .carousel-caption {
    display: none;
    /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
/* line 38, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
}

/* line 42, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.bg-1 h3 {
  color: #fff;
}

/* line 43, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.bg-1 p {
  font-style: italic;
}

/* line 44, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* line 48, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 53, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

/* line 60, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}

/* line 67, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
textarea {
  resize: none;
}
