/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.main-text {
  color: #fff;
  top: 15%;
  width: 96.6667%;
  position: absolute;
}

/* line 12, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.main-email {
  top: 2%;
  left: 2%;
}

/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
#main {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 11vw;
  margin: 0 0 -25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 28, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.botons {
  margin: 0px 9px 0px 6px;
}

/* line 32, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.2s ease-in-out left;
  transition: 0.2s ease-in-out left;
}

/* line 41, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 42, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.carousel, .item, .active {
  height: 100%;
  width: 100%;
}

/* line 43, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.carousel-inner {
  height: 100%;
  width: 100%;
}

/* line 46, /home/ubuntu/workspace/app/assets/stylesheets/welcome.scss */
.glyphicon-envelope {
  margin: 0px 15px;
  text-align: center;
}
