<h1>Nombre: <%= subj.name %></h1>

<div id="editingSubjects" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content -->
      <div class="modal-content" style="width: 100%;">
        <div class="modal-header modal-agregar">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 align="center"><%= subj.name %></h2>
        </div>
        <div class="modal-body">
            <h1 class = "text-left"><b>Prerrequisitos: </b></h1>
    <table class="table" id = "prerrequisitos"  style="font-size: 14px;" >
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Tipología</th>
      </tr>
    </thead>
    <tbody>
      <tr class="success">
        <td>1919</td>
        <td>Lenguajes de programación</td>
        <td>Disciplinar</td>
      </tr>
      <tr class="info">
        <td>19179</td>
        <td>Cálculo en varias variables</td>
        <td>Fundamentación</td>
      </tr>
      <tr class="warning">
        <td>1919</td>
        <td>Gráfica interactiva</td>
        <td>Electiva</td>
      </tr>
      <tr class="active">
        <td>1919</td>
        <td>Esa materia</td>
        <td>Optativa</td>
      </tr>
    </tbody>
  </table>

      </div>
    </div>
  </div>
</div>