



<div class="container-fluid">

    <div class="row">
        <div class="col-md-5" style="background-color:lavender" width="100%">
            <div align="center">
                <img  width="60%" class="img-responsive" src="/logo_final.png" class="img-fluid" alt="logo" />
                <h1>¡Bienvenido a Ataraxia!</h1>
                <h3>Por favor escoja una opción</h2>
            </div>
        </div>
    <div class="col-md-7" style="background-color:lightgreen"><h2>Agregar Malla</h2></div>
    <div class="col-md-7"></br></div>
    <div class="col-md-3" style="background-color:lightyellow;"><h2>Editar Malla</h2></div>
    <div class="col-md-3" style="background-color:lightblue;"><h2>Agregar Electiva</h2></div>
  </div>
</div>