<div class="container-fluid">

    <div class="row">
        <div class="col-md-6" style="margin-top: 4%;" width="100%">
            <div align="center" style="vertical-align: middle;">
                <img  width="60%" class="img-responsive" src="/logo_final.png" class="img-fluid" alt="logo" />
                <h1>¡Bienvenido a Ataraxia <%= current_user.name %> !</h1>
                <h3>Por favor escoja una opción</h2>
            </div>
        </div>
    <div class="col-md-6">
        <div style="background-color: lightblue;  padding: 8% 0px 8% 5%;>">
            <h2 style="font-size:60px">Mallas curriculares</h2> 
            <p style="font-size:15px">Crea o edita las malla estandar para las carreras en la Universidad Nacional de Colombia, <br> sede Bogotá</p>
            <div align="center" ><%= link_to '¡Crear Nueva!', admin_malla_path, :class => "btn btn-success btn-lg" %></div>
        </div>
    </div>
    <div class="col-md-6">
        <div style="background-color: PaleGoldenRod ;  margin-top: 5px; padding: 8% 0px 8% 5%;">
            <h2 style="font-size:60px">Materias </h2> 
            <p>Crea, elimina o edita materias para las mallas en la universidad nacional.</p>
            <div align="center"><button type="button" class="btn btn-success btn-lg  disabled">¡Editar!</button></div>
        </div>
    </div>
  </div>
</div>
