<div class="container-fluid">

    <div class="row">
        <div class="col-md-6" style="margin-top: 8%;" width="100%">
            <div align="center">
                <img  width="60%" class="img-responsive" src="/logo_final.png" class="img-fluid" alt="logo" />
                <h1>¡Bienvenido a Ataraxia!</h1>
                <h3>Por favor escoja una opción</h2>
            </div>
        </div>
    <div class="col-md-6">
        <div style="background-color: lightblue;  padding: 8% 0px 8% 5%;>">
            <h2 style="font-size:60px">Agregar una malla</h2> 
            <p style="font-size:15px">Crea la Malla estandar para una carrera en la Universidad Nacional de Colombia, <br> sede Bogotá</p>
            <div align="center" ><%= link_to '¡Crear!', admin_malla_path, :class => "btn btn-success btn-lg" %></div>
        </div>
    </div>
    <div class="col-md-6">
        <div style="background-color: PaleGoldenRod ;  padding: 8% 0px 8% 5%;">
            <h2 style="font-size:60px">Editar Malla</h2> 
            <p>Cambia prerrequisitos, optativas, electivas permitidas y mucho más en una malla preexistente.</p>
            <div align="center"><button type="button" class="btn btn-success btn-lg  disabled">¡Editar!</button></div>
        </div>
    </div>
  </div>
</div>
