<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" class="back">
        <table class="table table-bordered .table-responsive ">
          <thead class="thead"> 
            <tr>
              <th class="semestre">Semestre 1</th>
              <th class="semestre">Semestre 2</th>
              <th class="semestre">Semestre 3</th>
              <th class="semestre">Semestre 4</th>
              <th class="semestre">Semestre 5</th>
              <th class="semestre">Semestre 6</th>
              <th class="semestre">Semestre 7</th>
              <th class="semestre">Semestre 8</th>
              <th class="semestre">Semestre 9</th>
              <th class="semestre">Semestre 10</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center"> <a href="#" id="addB">  <img width="50%"  class="img-responsive add" src="/add.png" class="img-fluid" alt="logo" /> </a> </td>
              <td align="center"> <a href="#" onClick="alert('Hello World!')">  <img width="50%"  class="img-responsive add" src="/add.png" class="img-fluid" alt="logo" /> </a> </td>
              <td align="center"> <a href="#" onClick="alert('Hello World!')">  <img width="50%"  class="img-responsive add" src="/add.png" class="img-fluid" alt="logo" /> </a> </td>
              <td align="center"> <a href="#" onClick="alert('Hello World!')">  <img width="50%"  class="img-responsive add" src="/add.png" class="img-fluid" alt="logo" /> </a> </td>
              <td align="center"> <a href="#" onClick="alert('Hello World!')">  <img width="50%"  class="img-responsive add" src="/add.png" class="img-fluid" alt="logo" /> </a> </td>
              <td align="center"> <a href="#" onClick="alert('Hello World!')">  <img width="50%"  class="img-responsive add" src="/add.png" class="img-fluid" alt="logo" /> </a> </td>
              <td align="center"> <a href="#" onClick="alert('Hello World!')">  <img width="50%"  class="img-responsive add" src="/add.png" class="img-fluid" alt="logo" /> </a> </td>
              <td align="center"> <a href="#" onClick="alert('Hello World!')">  <img width="50%"  class="img-responsive add" src="/add.png" class="img-fluid" alt="logo" /> </a> </td>
              <td align="center"> <a href="#" onClick="alert('Hello World!')">  <img width="50%"  class="img-responsive add" src="/add.png" class="img-fluid" alt="logo" /> </a> </td>
              <td align="center"> <a href="#" onClick="alert('Hello World!')">  <img width="50%"  class="img-responsive add" src="/add.png" class="img-fluid" alt="logo" /> </a> </td>
            </tr>
          </tbody>
        </table>
      </div>
      
  </div>
  <div class="row">
    <button id="addB">Open Modal</button>

    <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Modal Header</h2>
    </div>
    <div class="modal-body">
      <p>Some text in the Modal Body</p>
      <p>Some other text...</p>
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>

</div>
  </div>
</div>