<% tipos_materia = ['electiva', 'optativa', 'disciplinar', 'fundamentacion', 'nivelacion'] %>


<div class="container-fluid">
  
<%= render 'layouts/mallas', :vista =>"admin_malla", add_subjects_enabled = true%>

<!-- The Modal Ayuda -->

  <div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content -->
      <div class="modal-content" style="width: 100%;">
        <div class="modal-header modal-ayuda">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 align="center">Ventana de ayuda</h2>
        </div>
        <div class="modal-body" >
          <div align="center"><img width="80%" class="img-responsive" src="/ayuda_admin.png" class="img-fluid" alt="help" /></div>
        </div>
      </div>
    </div>
  </div>
  
  

  <%= render 'layouts/footer', :vista=> "admin_malla"%>













