<h1>
¡Bienvenido a Ataraxia!
</h1>

<p>
Ataraxia es una aplicación web que minimiza el tiempo de estadía de los estudiantes 
basándose en las mallas curriculares actualizadas de las carreras en la Universidad 
Nacional de Colombia, sede Bogotá; dadas las condiciones específicas de cada estudiante. 
Ésta también ofrece ventajas adicionales, como: que el usuario vea el avance en su 
carrera de una forma gráfica; que pueda consultar las mallas estándar y los énfasis 
disponibles; y finalmente que pueda editar la malla que ofrece la aplicación web a su gusto.
</p>

<h2>Equipo: sedUNdnes</h2>

<h2>Integrantes</h2>


<ul>
  <li>Brayan Steven García</li>
  <li>Laura Gineth Morales Ariza</li>
  <li>Lizzy Tengana Hurtado</li>
  <li>Nicolás Restrepo Torres</li>
</ul>
 

