<!DOCTYPE html>
<html>
  <head>
    <title>Ataraxia</title><%= csrf_meta_tags %><%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %><%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
 
<div class="container" style="width:100%;height:100%;padding:0px;">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img src="universidad1.jpg" alt="universidad1" style="width:100%;height:100%">
            </div>
            <div class="item">
                <img src="universidad2.png" alt="universidad2" style="width:100%;height:100%">
            </div>
            <div class="item">
                <img src="universidad1.jpg" alt="universidad1" style="width:100%;height:100%">
            </div>
        </div>
    </div>
    
    
    <div class="main-text hidden-xs">


              <div class="row">
                <div class="col-xs-12">  
                  <div>
                      <a href="/contact" target="_self"><button type="button" class="btn btn-default" aria-label="Left Align" style="margin: 0px 15px">
                      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                      </button></a>
                  </div>
                </div>
              </div>

                    
                    <div class="col-md-12 text-center">
                      <p id="main">
                         Ataraxia</p>
                      <div class="row">
                        <div class="col-xs-12">
                          <div  class="text-center">
                            <a href="/users/sign_in" target="_self">
                              <input type="button" class="btn btn-success btn-large botons" value="Entrar"/>
                            </a>
                            <a href="/users/sign_up" target="_self">
                              <input type="button" class="btn btn-danger btn-large botons" value="Registrarse"/>
                            </a>
                            <a href="/users/guest" target="_self">
                              <input type="button" class="btn btn-primary btn-large botons" value="Entrar como invitado"/>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
</div>

</body>
</html>

