.rcorners1 {
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #000000;
    border-width: 1px 1px 0px 1px;
    padding: 3px 3px 3px 7px;
    width: 150px;
    height: 100%;
    font-size: 50%;
    
}

.rcorners2 {
    border-radius: 0px 0px 5px 5px;
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 1px; 
    width: 150px;
    height: 70px;
    font-size: 50%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#subj {
    margin: 7px 2px 0px 2px;
}