/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
@import "bootstrap-sprockets";
@import "bootstrap";


.navbar navbar-inverse{
  margin: 0px 0px 0px 0px;
}

.navbar {
  margin-bottom: 0px;
}

  
.bottomImage{ 
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.well{
  background: rgba(255, 255, 255, 0.8);
}

.row{
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.imageWell{
  width: 35%;
  height: 35%; 
}


.td {
  width: 10%;
}