// Place all the styles related to the student controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menuMallas{
    margin: 2% 2% 0% 0%;
    padding: 0% 4% 4% 4%;
    height: 320px;
    width: 48%;
    vertical-align:middle;
    display: table-cell;
}
