
<div id="subj" >
  <div class="rcorners1" align="center" style="background:#45d0ff;  color: white; opacity: 0.7; "> &#x221e </div>
  <div class="rcorners2" align="center">

    <%= link_to 'Asignar electiva', open_modal_for_choose_electiva_path(sem.id, career.id), remote: true, :style => 'color: black;' %>

  </div>
</div>
