<<<<<<< HEAD
<%= stylesheet_link_tag   '_messages', media: 'all', 'data-turbolinks-track' => true %>
=======
>>>>>>> 7a91f0d68ca51a5df81cbd7962c7fe5d706c4325
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>