
<div id="subj" >
  <div class="rcorners1" align="center" style="background:hotpink;  color: yellow; opacity: 0.7; "> &#x221e </div>
  <div class="rcorners2" align="center">

    <%= link_to 'Asignar optativa', open_modal_for_choose_optativa_path(sem.id, career.id), remote: true, :style => 'color: black;' %>

  </div>
</div>
